.news-ticker-container {
    background-color: #000000;
    color: #fff;
    height: 32px;
    padding: 3px;
    font-weight: 400;
    overflow: hidden;
    font-family: 'poppins','sans serif';
  }
  
  .news-ticker-content {
    white-space: nowrap;
    padding: 0 1rem;
  }
  
  .news-ticker-content span {
    margin-right: 50px; /* Add spacing between each item */
  }