
.nav-link.active {
  color: red !important; 
  font-weight: bold;     
}


.navbar {
  height: 90px;
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1000;
}

.navbar-brand {
  color: #054a41;
  margin-left: 30px;
  text-transform: uppercase;
}

.logo {
  height: 3.5rem;
}

.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,...");
  filter: invert(1);
}


.nav-link {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-right: 30px;
  color: black !important;
  transition: color 0.3s, transform 0.3s;
}

.nav-link:hover {
  color: black !important;
}


.ml-auto {
  margin-left: auto !important;
}


.side-menu {
  position: fixed;
  top: 120px;
  color: #000 !important;
  right: -250px;
  width: 250px;
  height: calc(100vh - 120px);
  background-color: #ffffff;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
  z-index: 2000;
  transition: right 0.3s ease;
}

.side-menu.open {
  right: 0;
}


.close-btn {
    font-size: 1.5rem; 
    border: none; 
    background: none; 
}

.navbar-toggler{
  border:none !important;
  border-radius: none;
}
.navbar-toggler:hover{
  text-decoration: none !important;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0 !important;
  box-shadow: none !important;
}

@media (max-width: 768px) {
  
    .navbar {
        padding: .5rem; 
    }

    .nav-link {
        font-size: .9rem; 
        color: black !important;
    }

    .d-lg-flex {
        display: none !important; 
    }

    .logo {
        height: auto; 
        max-height:2.8rem; 
    }
}